<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net472" />
  <package id="C1.C1Excel" version="4.5.20201.424" targetFramework="net472" />
  <package id="C1.Win" version="4.5.20201.424" targetFramework="net472" />
  <package id="C1.Win.Bitmap" version="4.5.20201.424" targetFramework="net472" />
  <package id="C1.Win.C1Command" version="4.5.20201.424" targetFramework="net472" />
  <package id="C1.Win.C1DX" version="4.5.20201.424" targetFramework="net472" />
  <package id="C1.Win.C1FlexGrid" version="4.5.20201.424" targetFramework="net472" />
  <package id="C1.Win.C1Input" version="4.5.20201.424" targetFramework="net472" />
  <package id="Gitea.API" version="1.0.20" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net472" />
  <package id="K4os.Compression.LZ4" version="1.1.11" targetFramework="net472" />
  <package id="K4os.Compression.LZ4.Streams" version="1.1.11" targetFramework="net472" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net472" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net472" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net472" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1537.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Management.SqlParser" version="150.37051.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="160.2004021.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.20" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net472" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net472" />
  <package id="Xamarin.Forms" version="2.3.0.107" targetFramework="net472" />
  <package id="Xuni.CollectionView" version="2.3.20171.185" targetFramework="net472" />
  <package id="Xuni.Forms.Core" version="2.3.20171.185" targetFramework="net472" />
  <package id="Xuni.Forms.FlexGrid" version="2.3.20171.185" targetFramework="net472" />
</packages>